<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<title>Search Clothes</title> 
</head>
<body>
<p>Want to search for real-life references to make that online purchase? Start your selections and find what can best fit you!</p>
<form>
    <label for="brand">Brand:</label>
    <input type="text" id="brand" name="brand" placeholder="ex: Hollister" ><br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="ex: Air Jordan 1 Low" ><br><br>
    <label for="category">Category:</label>
    <select name="category" id="category" >
        <option value="" disabled selected>All selections</option>
        <option value="Shirts">Shirts</option>
        <option value="Shoes">Shoes</option>
    </select><br><br>
    <label for="size">Size:</label>
    <input type="text" id="size" name="size" placeholder="ex: M or 7.5" ><br><br>
    <label for="gender">Gender:</label>
    <select name="gender" id="gender">
        <option value="" disabled selected>All selections</option>
        <option value="Men">Men</option>
        <option value="Women">Women</option>
        <option value="Unisex">Unisex</option>
    </select><br><br>
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" placeholder="Blue"><br><br>
    <label for="year">Year:</label>
    <input type="number" id="year" name="year" placeholder="ex: 2023"><br><br>
    <button type="submit">Search!</button><br><br>

</form>
<nav>
  <a href="/">Home</a> | 
  <a href="review.html">Submit Review</a> |
  <a href="search.html">Search Item</a> |
</nav>

</body>
</html>